<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>index1</title>
    <script src="https://cdn.bootcss.com/sockjs-client/1.1.4/sockjs.min.js"></script>
    <script src="https://cdn.bootcss.com/stomp.js/2.3.3/stomp.min.js"></script>
</head>
<body>
<div id="app">
    <div>
        <label>WebSocket连接状态:</label>
        <button type="button" :disabled="connected" @click="connect()">连接</button>
        <button type="button" @click="disconnect()" :disabled="!connected">断开</button>
    </div>

    <div v-if="connected">
        <label>当前服务器时间：{{ time }}</label>
        <br/>消息列表：<br/>
        <hr/>
        <table>
            <thead>
            <tr>
                <th>内容</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="row in lala">
                <td>{{row}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            stompClient: '',
            // 连接状态
            connected: false,
            lala: [],
            time: ''
        },
        methods: {
            connect() {
                var socket = new SockJS('/my-websocket');
                stompClient = Stomp.over(socket);
                stompClient.connect({}, function (frame) {
                    // 注册发送消息
                    stompClient.subscribe('/user/1/greetings', function (msg) {
                        app.lala.push(msg);
                    });
                    // 注册推送时间回调
                    stompClient.subscribe('/topic/time', function (response) {
                        app.time = response.body;
                    });

                    app.connected = true;
                });
            },
            disconnect() {
                if (stompClient != null) {
                    stompClient.disconnect();
                }

                app.connected = false;
                app.lala = []
            }
        }
    })
</script>
</body>
</html>